.product-section {
  padding: 2rem;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.product-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

/* Responsive: 2 cards on tablets and mobiles */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  transition: box-shadow 0.3s ease;
}

body.dark .product-card{
        background: var(--primary-color)
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 1rem;
}

.product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: var(--font);
  font-size: 0.9rem;
  margin-top: 0.7rem;
}

.rating {
  color: #f1c40f;
  font-weight: bold;
}

.product-footer {
  margin-top: 1.5rem;
  font-size: 0.85rem;
  color: #777;
  text-align: center;
}
