
:root {
  /* Light Theme */
  --bg: linear-gradient(90deg, #e8faff, #ffffff 40%, #ffe7df);
  --font: #000;
  --btn-light: #fff;
  --primary-color: rgb(215, 140, 0);
  --transition-speed: 0.2s;
}

body.dark {
  /* Dark Theme */
  --bg: #1e1e1e;
  --font: #ffffff;
}


   /* Reset & Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--font);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  transition: background var(--transition-speed) ease, color var(--transition-speed) ease;
}
